@page
@model INET2005_FinalProject.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model.Car) 
        {
            // Concatenate image url
            string imageURL = "https://" + Request.Host.Value + "/photos/" + item.ImageName;

            <tr>
                <td style="width: 10%">
                    <img src="@imageURL" height="200" />
                </td>
                <td class="align-middle text-center">
                    <h3>@item.ModelYear @item.BrandName @item.Name</h3>
                    <b>Type: </b> @item.CarType.TypeName <br />
                    <b>Price: </b> @item.Price <br />
                </td>
            </tr>
        }
    </tbody>
</table>
