@page
@model CarStore.Pages.CarTypePages.CarTypeListModel

@{
    ViewData["Title"] = "CarTypeList";
}

<h1>CarTypeList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarType[0].TypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarTypeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CarTypeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
