@page
@model INET2005_FinalProject.Pages.CarPages.CarListModel

@{
    ViewData["Title"] = "CarList";
}

<h1>CarList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.Car) 
        {
            // Concatenate image url
            string imageURL = "https://" + Request.Host.Value + "/photos/" + item.ImageName;

            <tr>
                <td style="width: 10%">
                    <img src="@imageURL" height="200" />
                </td>
                <td class="align-middle text-center">
                    <h3>@item.ModelYear @item.BrandName @item.Name</h3>
                    <b>Type: </b> @item.CarType.TypeName <br />
                    <b>Price: </b> @item.Price <br />
                </td>
                <td class="align-middle text-center">
                    <a asp-page="./Edit" asp-route-id="@item.CarID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CarID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CarID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
